# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

*.pyc
.DS_Store
deploy/.vagrant
.vagrant
*.pid
django_deployment_env/*
*\#
*~
*#
*.sublime-project
aws.cfg
fab_hosts/*
*.sublime-workspace
chef_files/dep_cookbooks/*
chef_files/cookbooks/*
chef_files/hold_cookbooks/*
chef_files/data_bag_key
chef_files/data_bags/*
venv
hold_chef_files/*
settings.json
*.lock
.#*
*_old
*/*/local_settings.pyaws.cfg
settings.json
chef_files/data_bag_key
