# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

.DS_Store
.vagrant
*.pid
django_deployment_env/*
*\#
*~
*#
*.sublime-project
aws.cfg
git.cfg
fab_hosts/*
*.sublime-workspace
settings.json
*.lock
.#*
*/*/local_settings.pyaws.cfg
*_settings.json
keys/*
